{{!-- Dashboard configuration --}}
<div class="pt-32">
    <h1>Dashboard</h1>
    <div class="section-block-full">
        <div class="inline-block">
            <div class="pt-16 flex flex-row items-center">
                <span class="mr-2">
                    <svg id="info"
                        class="feather w-6 h-6 transition duration-150 ease-in-out transform hover:scale-110 hover:text-gray-900">
                        <use xlink:href="icons/feather-sprite.svg#info" class="m-0" />
                    </svg>
                </span>
                <h3>
                    Main Projects & Work
                </h3>
            </div>

        </div>
        <div class="section-block-lg ">
            
            {{>cardImage}}
            {{>cardImage}}
            {{>cardImage}}
        </div>
    </div>
    <div class="section-block-full">
        <div class="pt-16 flex flex-row items-center">
            <span class="mr-2">
                <svg id="info"
                    class="feather w-6 h-6 transition duration-150 ease-in-out transform hover:scale-110 hover:text-gray-900">
                    <use xlink:href="icons/feather-sprite.svg#info" class="m-0" />
                </svg>
            </span>
            <h3>
                Other Noteworthy Projects
            </h3>
        </div>
        <div class="grid grid-cols-2 sm:grid-cols-4 gap-6">
            {{>card}}
            {{>card}}
            {{>card}}
        </div>
    </div>
</div>