{{!-- Intro --}}
<div class="section-block">
    <div class="w-40">
        <img src="/images/profilePic.png" alt="" class="rounded-full max-w-full max-h-auto bg-cover">
    </div>
    <h2 class="text-center text-gray-600"><span class="wave select-none">👋</span> Hola, My name is Mike</h2>
    <h1 class="text-center">I’m a Software Developer with 2+ years experience designing and building digital products
    </h1>
    <p class="text-center">I’m biligual software engineer (Spanish / English) based in Machias, ME
        specializing in building and designing
        websites and applications, focusing on the business value of tech development and the creative impact of my
        code.</p>
    <a href="#" class="bg-gray-900 grayscale-off-white px-6 py-3 border-gray-500 rounded-full">Connect with me</a>
</div>

{{!-- About Me --}}
<div class="section-block mt-32">
    <h3>About me</h3>
    <p class="text-center">I enjoy creating digital products related to business ideas and involve myself in the digital
        impact of my
        developments. I am currently studying Business and Information Technologies in the Tecnológico de Monterrey and
        I am attending my junior year. </p>
    <p class="text-center">My goal is to always create digital products that looks amazing and that provide amazing
        experiences for its
        users. I am specializing in Web Design, Backend Development and Startup launchs through interesting and
        meaningful projects on a daily basis.</p>
</div>

{{!-- Skills and knowladge --}}
<div class="section-block-lg mt-32">
    <h3>Skills & Knowledge</h3>
    <div class="grid grid-cols-2 sm:grid-cols-4 md:grid-cols-6 gap-6">

        <div class="col-span-2 sm:col-span-4">
            <h4 class="mb-2">Development</h4>
            <ul class="flex flex-col space-y-2  ">
                <li><span class="font-semibold">Frontend:</span> HTML / CSS / JS / React </li>
                <li><span class="font-semibold">Backend:</span> Node.js / MongoDB / MySQL </li>
                <li><span class="font-semibold">Mobile:</span> Dart / Flutter </li>
                <li><span class="font-semibold">General purpose:</span> C++ / Java </li>
                <li><span class="font-semibold">Extra:</span> Puppeter / Ejs / Hbs / Tailwind / Bootstrap</li>
            </ul>
        </div>
        <div class="col-span-2">
            <h4 class="mb-2">Tools and Platforms</h4>
            <ul class="flex flex-col space-y-2">
                <li>Git</li>
                <li>Linux</li>
                <li>Heroku</li>
                <li>Digital Ocean</li>
                <li>Visual Estudio</li>
                <li>Figma</li>
            </ul>
        </div>

        <div class="col-span-2">
            <h4 class="mb-2">Design</h4>
            <ul class="flex flex-col space-y-1">
                <li>UI / UX</li>
                <li>Wireframing</li>
                <li>Prototyping</li>
            </ul>
        </div>
        <div class="col-span-2">
            <h4 class="mb-2">Competences</h4>
            <ul class="flex flex-col space-y-2">
                <li>Strategic thinking</li>
                <li>Leadership</li>
                <li>Creativity</li>
                <li>Adaptability</li>
                <li>Digital Skills</li>
            </ul>
        </div>
        <div class="col-span-2">
            <h4 class="mb-2">Education</h4>
            <ul class="flex flex-col space-y-2">
                <li>
                    <svg
                        class="feather mr-1 w-6 h-6 transition duration-150 ease-in-out transform hover:scale-110 hover:text-gray-900">
                        <use xlink:href="icons/feather-sprite.svg#calendar" class="m-0" />
                    </svg>
                    <span class="font-semibold">Técnologico de Monterrey:</span> <br> Engineering in Business and IT
                </li>
                <li>
                    <svg class="feather mr-1 w-6 h-6 transition duration-150 ease-in-out transform hover:scale-110 hover:text-gray-900">
                        <use xlink:href="icons/feather-sprite.svg#calendar" class="m-0" />
                    </svg>
                    <span class="font-semibold">Salesiano Institute:</span> <br> Computer Science specialization
                </li>
            </ul>
        </div>
    </div>
</div>

{{!-- <div class="max-w-md mx-auto bg-white rounded-xl shadow-md overflow-hidden md:max-w-2xl">
    <div class="md:flex">
        <div class="md:flex-shrink-0">
            <img class="h-48 w-full object-cover md:w-48"
                src="https://images.unsplash.com/photo-1515711660811-48832a4c6f69?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=448&q=80"
                alt="Man looking at item at a store">
        </div>
        <div class="p-8">
            <div class="uppercase tracking-wide text-sm text-indigo-500 font-semibold">Case study</div>
            <a href="#" class="block mt-1 text-lg leading-tight font-medium text-black hover:underline">Finding
                customers for your new business</a>
            <p class="mt-2 text-gray-500">Getting a new business off the ground is a lot of hard work. Here are five
                ideas you can use to find your first customers.</p>
        </div>
    </div>
</div> --}}