{{!-- Intro --}}

<div class="section-block pt-32" id="about">
    <div class="w-40">
        <img src="/images/profilePic.png" alt="" class="rounded-full max-w-full max-h-auto bg-cover">
    </div>
    <h2 class="font-title text-center font-body"><span class="wave select-none">👋</span> Hola, My name is Mike</h2>
    <h1 class="font-title text-center font-title">I’m a Software Developer with 2+ years experience designing and
        building digital products
    </h1>
    <p class="text-center">I am a biligual software engineer (Spanish / English) based in Machias, ME
        specializing in building and designing
        websites and applications, focusing on the business value of tech development and the creative impact of my
        code.</p>
    <a href="mailto: a01612042@itesm.mx" class="btn-main">Connect with me</a>
</div>


{{!-- About Me --}}

<div class="section-block pt-32" id="animationAbout">
    <h3 class="grayscale-title">About me</h3>
    <p class="text-center">I enjoy creating digital products related to business ideas and involve myself in the
        digital
        impact of my developments. I am currently attending my junior year at the <a target="_blank"
            href="https://tec.mx/en/news/national/institution/tec-28-worldwide-private-universities-and-155-general"
            class="underline" id="tec">Tec de Monterrey</a>. My major in <span class="font-bold">Business and
            Information Technologies</span> and my passion for software development allow me to build solid projects
        without losing focus on the evaluation and administration of the project, team management, and the viability
        of
        the
        project (From idea conception to prototyping and product-market fit).
    </p>
    <p class="text-center italic">“ My purpose is to help others, improve human experiences, and promote a better
        future.
        Technology is my means to achieve my vision. “</p>
    <p class="text-center">My goal is to create digital products that looks amazing and that provide meaningful
        experiences for its users. I am specializing in Web Design, Backend Development and Startup launchs through
        interesting and challenging projects on a daily basis.</p>
</div>

{{!-- Skills and knowledge --}}

<div class="section-block-lg pt-32" id="experience">
    <h3 class="grayscale-title">Skills & Knowledge</h3>
    <div class="grid grid-cols-2 sm:grid-cols-4 md:grid-cols-6 gap-6">
        <div class="col-span-2 sm:col-span-4">
            <h4 class="mb-2 grayscale-title">Development</h4>
            <ul class="flex flex-col space-y-2  ">
                <li><span class="font-semibold">Frontend:</span> HTML / CSS / JS / React (Currently learning)</li>
                <li><span class="font-semibold">Backend:</span> Node.js / MongoDB / MySQL / Firebase</li>
                <li><span class="font-semibold">Mobile:</span> Dart / Flutter </li>
                <li><span class="font-semibold">General purpose:</span> C++ / Java </li>
                <li><span class="font-semibold">Extra:</span> Puppeter / Ejs / Hbs / Tailwind / Bootstrap</li>
            </ul>
        </div>
        <div class="col-span-2">
            <h4 class="mb-2 grayscale-title">Tools and Platforms</h4>
            <ul class="flex flex-col space-y-2">
                <li>Git</li>
                <li>Linux</li>
                <li>Heroku</li>
                <li>Digital Ocean</li>
                <li>Visual Studio</li>
                <li>Figma</li>
            </ul>
        </div>
        <div class="col-span-2">
            <h4 class="mb-2 grayscale-title">Design</h4>
            <ul class="flex flex-col space-y-1">
                <li>UI / UX</li>
                <li>Wireframing</li>
                <li>Prototyping</li>
            </ul>
        </div>
        <div class="col-span-2">
            <h4 class="mb-2 grayscale-title">Competences</h4>
            <ul class="flex flex-col space-y-2">
                <li>Strategic thinking</li>
                <li>Leadership</li>
                <li>Creativity</li>
                <li>Adaptability</li>
                <li>Digital Skills</li>
            </ul>
        </div>
        <div class="col-span-2">
            <h4 class="mb-2 grayscale-title">Education</h4>
            <ul class="flex flex-col space-y-2">
                <li>
                    <span class="mr-1">
                        <svg id="date-college"
                            class="feather w-6 h-6 transition duration-150 ease-in-out transform hover:scale-110 hover:text-gray-900">
                            <use xlink:href="icons/feather-sprite.svg#calendar" class="m-0" />
                        </svg>
                    </span>
                    <span class="font-semibold">Técnologico de Monterrey:</span> <br> Engineering in Business and IT
                </li>
                <li>
                    <span class="mr-1">
                        <svg id="date-school"
                            class="feather w-6 h-6 transition duration-150 ease-in-out transform hover:scale-110 hover:text-gray-900">
                            <use xlink:href="icons/feather-sprite.svg#calendar" class="m-0" />
                        </svg>
                    </span>

                    <span class="font-semibold">Salesiano Institute:</span> <br> Computer Science specialization
                </li>
            </ul>
        </div>
    </div>
</div>


{{!-- Projects & Work --}}

<div class="section-block-lg pt-32" id="work">
    <h3 class="grayscale-title text-center">The work I do and the projects I have done</h3>
    {{#each resMainProjects}}
    {{>cardImage this}}
    {{/each}}
</div>


{{!-- Other projects --}}

<div class="section-block-lg pt-32">
    <h3 class="grayscale-title text-center">Other Noteworthy Projects</h3>
    <div class="grid grid-cols-2 sm:grid-cols-4 gap-6">
        {{#each resOtherProjects}}
        {{>card this}}
        {{/each}}
    </div>
</div>


{{!-- Get in touch --}}
<div class="section-block-lg pt-32" id="contact">
    <h3 class="grayscale-title">Get in touch!</h3>
    <p class="text-center">I am currently looking for {{!-- a new job opportunity --}} new technical challenges and
        projects to lead. I am a driven learner focused on getting
        the
        best results in my work and always deliver extra value. If you like my work / profile send me a
        message, my inbox is always open to connect with new people, talk about technology and business topics.</p>
    <a href="mailto: a01612042@itesm.mx" class="btn-main">Connect with me</a>
</div>