<a href="{{link}}"
    class="grayscale-title col-span-2 w-full mx-auto bg-white border-2 border-gray-200 rounded-xl shadow-md overflow-hidden md:max-w-2xl hover:text-white hover:bg-gray-900 transition duration-75 ease-in-out">
    <div class="p-8 flex flex-row items-center justify-center h-full">
        <div class="flex flex-row items-center justify-center">
            <span class="mr-2">
                <svg class="feather w-6 h-6 transition duration-150 ease-in-out transform hover:scale-110">
                    <use xlink:href="icons/feather-sprite.svg#plus-circle" class="m-0" />
                </svg>
            </span>
            <h4>
                Add Project
            </h4>
        </div>
    </div>
</a>