<div class="fixed top-0 w-full bg-white border-b-2 border-gray-200 z-20" id="navbar">
    <div class="max-w-screen-lg mx-auto px-10 ">
        <div class="flex justify-between py-8">
            {{#if navUser }}
            <ul class="flex flex-row space-x-4">
                <li><a href="{{resume.url}}" target="_blank" class="btn-square-rounded">Resume</a>
                </li>
                <li><a href="{{transcript.url}}" target="_blank" class="btn-square-rounded">Transcript</a>
                </li>
            </ul>

            <ul class="hidden md:flex md:flex-row md:space-x-8">
                <li><a href="#about" class="">About</a></li>
                <li><a href="#experience" class="">Experience</a></li>
                <li><a href="#work" class="">Work</a></li>
                <li><a href="#contact" class="">Contact</a></li>
            </ul>
            <ul class="inline-block md:hidden">
                <li>
                    <svg id="main-menu"
                        class="feather w-6 h-6 transition duration-150 ease-in-out transform hover:scale-110 hover:text-gray-900">
                        <use xlink:href="icons/feather-sprite.svg#menu" class="m-0" />
                    </svg>
                </li>
            </ul>
            {{else if dashboardNav}}
            <ul class="flex flex-row space-x-8">
                <li><a href="/add-resume" class="btn-square-rounded">Add Resume</a></li>
                <li><a href="/add-transcript" class="btn-square-rounded">Add Transcript</a></li>
            </ul>
            <ul class="flex flex-row space-x-8">
                <li><a href="/" class="btn-main-outline">Home</a></li>
            </ul>
            {{else if navError}}
            <ul class="flex flex-row space-x-8">
                <li><a href="/" class="btn-main">Home</a></li>
            </ul>
            {{/if}}
        </div>
    </div>
</div>