<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/styles.css" rel="stylesheet">
    <link href="/bundle/bundle.css" rel="stylesheet">
    <title>Mike Guijarro</title>
</head>

{{!-- https://atomiks.github.io/tippyjs/v6/getting-started/ --}}

<body>
    <div class="max-w-screen-lg mx-auto px-10">
        {{> navigation}}
        {{{body}}}
    </div>
    {{> footer}}
    <script src="/bundle/bundle.js"></script>
</body>

</html>