<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/styles.css" rel="stylesheet">
    <link href="/bundle/bundle.css" rel="stylesheet">
    <title>Mike Guijarro</title>
</head>

{{!-- https://atomiks.github.io/tippyjs/v6/getting-started/ --}}

<body>
    {{!-- Nav container --}}
    <div class="fixed top-0 w-full bg-white border-b-2 border-gray-200 z-10">
        <div class="max-w-screen-lg mx-auto px-10 ">
            {{> navigation}}
        </div>
    </div>
    {{!-- Body container --}}
    <div class="max-w-screen-lg mx-auto px-10">
        {{{body}}}
    </div>
    {{!-- Footer --}}
    {{> footer}}
    <script src="/bundle/bundle.js"></script>
</body>

</html>